.active-item {
  // border-left: 8px solid var(--ion-color-primary);
  --ion-item-background: var(--ion-color-primary);
  color: white;
}

.active-item ion-icon {
  --ion-icon-stroke-width: 40px;
  color: white;
}