<ion-content>
  
  <ion-router-outlet></ion-router-outlet>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="offered">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Ofrecidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Próximos Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>