.timeago{
  position: absolute;
  text-align: right;
  top: 13px;
  right: 20px;
}

ion-avatar {
  width: 60px;
  height: 60px;
}

.not-messages {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 200px;
}