<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="$messages | loading | async as messages">

    <!-- skeleton list loading -->
    <ng-template [ngIf]="messages.loading">
      <ion-item>
        <ion-avatar size="large" slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%; height: 3vh;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 20%;" class="timeago"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar size="large" slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%; height: 3vh;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 20%;" class="timeago"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar size="large" slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%; height: 3vh;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 20%;" class="timeago"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar size="large" slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%; height: 3vh;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 20%;" class="timeago"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar size="large" slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%; height: 3vh;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 20%;" class="timeago"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar size="large" slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%; height: 3vh;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 20%;" class="timeago"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar size="large" slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%; height: 3vh;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 20%;" class="timeago"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar size="large" slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%; height: 3vh;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 20%;" class="timeago"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ng-template>
    
    <!-- list of messages -->
    <ng-template [ngIf]="messages.value">
      <ion-item button (click)="openModal()" *ngFor="let message of messages.value">
        <ion-avatar size="large" slot="start">
          <ion-img [src]="message.img"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2 slot="start">{{ message.name }}</h2>
          <p slot="end">{{ message.service }}</p>
          <p>{{ message.lastMsg }}</p>
          <p class="timeago">{{ message.lastMsgAgo }}</p>
        </ion-label>
      </ion-item>
    </ng-template>

  </ion-list>
</ion-content>
