<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Servicios Ofrecidos</ion-title>
  </ion-toolbar>
  <ion-toolbar hidden>
    <ion-chip class="ion-margin-start">
      <ion-icon size="large" class="ion-padding-end" color="primary" class="ion-no-margin" name="options-outline"></ion-icon>
    </ion-chip>
    <ion-chip (click)="presentActionSheetOrderBy()">
      <ion-text>Ordenar</ion-text>
      <ion-icon size="large" class="ion-padding-end" color="primary" name="chevron-down-outline"></ion-icon>
    </ion-chip>
    <ion-chip (click)="presentActionSheetPriceRange()">
      <ion-text>Rango de precios</ion-text>
      <ion-icon size="large" class="ion-padding-end" color="primary" name="chevron-down-outline"></ion-icon>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row *ngIf="$services | loading | async as services">

      <!-- skeleton card for loading services -->
      <ng-template [ngIf]="services.loading">
        <ion-col size="12">
          <ion-card>
            <ion-skeleton-text animated class="ion-no-margin" style="width: 100%; height: 20vh;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text animated style="width: 40%; height: 44px;"></ion-skeleton-text>
              <br>
              <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-skeleton-text animated class="ion-no-margin" style="width: 100%; height: 20vh;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text animated style="width: 40%; height: 44px;"></ion-skeleton-text>
              <br>
              <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-skeleton-text animated class="ion-no-margin" style="width: 100%; height: 20vh;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text animated style="width: 40%; height: 44px;"></ion-skeleton-text>
              <br>
              <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%; height: 30px;"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ng-template>

      <!-- services on lists of cards -->
      <ng-template [ngIf]="services.value">
        <ion-col *ngFor="let providedService of services.value.services" size="12">
          <ion-card>
            <ion-img [ngClass]="{'stopped': providedService.state == 'stopped'}" [src]="apiUrl + providedService.img_url"></ion-img>
            <div [ngClass]="{'visible': providedService.state == 'stopped'}" class="stopped-btn">Pausada</div>
            <ion-card-header>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col>
                    <h2 class="ion-no-margin">
                      <strong>{{ providedService.title + ' (' + providedService.gender + ')' | titlecase }}</strong>
                    </h2>
                    <h5 class="ion-no-margin ion-margin-bottom">{{ providedService.super_category }}</h5>
                  </ion-col>
                  <ion-col size="1">
                    <ion-toggle class="ion-float-end" checked (click)="providedService.state = providedService.state == 'active' ? 'stopped':'active'; changeState(providedService)"></ion-toggle>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding">
                  <ion-col size="6">
                    <ion-icon [ngClass]="{'stopped': providedService.state == 'stopped'}" size="large" class="ion-padding-end" color="primary" name="cash-outline"></ion-icon> 
                    <ion-label>${{ providedService.price | currency:'CLP' }}</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-icon [ngClass]="{'stopped': providedService.state == 'stopped'}" size="large" class="ion-padding-end" color="primary" name="calendar-outline"></ion-icon> 
                    <ion-label *ngIf="providedService.workable.length == 7">Todos los días</ion-label>
                    <ion-label *ngIf="!(providedService.workable.length == 5 && providedService.workable.includes('l') && providedService.workable.includes('m') && providedService.workable.includes('x') && providedService.workable.includes('j') && providedService.workable.includes('v')) && providedService.workable.length < 7 && (!providedService.workable.includes('s') || !providedService.workable.includes('d'))">
                      Días: 
                      {{ (providedService.workable.includes('l')) ? 'L':null }}
                      {{ (providedService.workable.includes('m')) ? 'M':null }}
                      {{ (providedService.workable.includes('x')) ? 'X':null }}
                      {{ (providedService.workable.includes('j')) ? 'J':null }}
                      {{ (providedService.workable.includes('v')) ? 'V':null }}
                      {{ (providedService.workable.includes('s')) ? 'S':null }}
                      {{ (providedService.workable.includes('d')) ? 'D':null }}
                    </ion-label>
                    <ion-label *ngIf="providedService.workable.length == 2 && providedService.workable.includes('s') && providedService.workable.includes('d')">Fines de Semana</ion-label>
                    <ion-label *ngIf="providedService.workable.length == 5 && providedService.workable.includes('l') && providedService.workable.includes('m') && providedService.workable.includes('x') && providedService.workable.includes('j') && providedService.workable.includes('v')">Durante la Semana</ion-label>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon [ngClass]="{'stopped': providedService.state == 'stopped'}" size="large" class="ion-padding-end" color="primary" name="location-outline"></ion-icon> 
                  </ion-col>
                  <ion-col class="col-padding" size="5" *ngIf="providedService.locations.length == 1 && !providedService.locations[0].district">
                    <div>Region:</div>
                    <div>{{ providedService.locations[0].region }}</div>
                  </ion-col>
                  <ion-col class="col-padding" size="5" *ngIf="providedService.locations.length != 1 || providedService.locations[0].district">
                    <div>{{ (providedService.locations.length > 1) ? 'Comunas:' : 'Comuna:' }}</div>
                    <ul class="ion-no-margin ion-margin-bottom">
                      <li *ngFor="let location of providedService.locations">{{ location.district }}</li>
                    </ul>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon [ngClass]="{'stopped': providedService.state == 'stopped'}" size="large" class="ion-padding-end" color="primary" name="time-outline"></ion-icon> 
                  </ion-col>
                  <ion-col class="col-padding" size="5">
                    <ion-label>{{ (providedService.start.slice(0,-3)) + ' - ' + (providedService.end.slice(0,-3)) }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-button [disabled]="providedService.state == 'stopped'" [ngClass]="{'stopped': providedService.state == 'stopped'}" expand="block" color="primary" (click)="openEditServiceModal(providedService)">Editar</ion-button>
              </ion-grid>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ng-template>

      <!-- no services offered -->
      <ng-template [ngIf]="!services.value?.services.length">
        <ion-col size="12">
          <ion-img class="not-services" src="../../../../../assets/images/not_services.svg"></ion-img>
          <h1 class="ion-text-center">No ofreces servicios todavía</h1>
          <ion-img class="arrow" src="../../../../../assets/images/arrow.svg"></ion-img>
        </ion-col>
      </ng-template>

      <!-- error on get services -->
      <ng-template [ngIf]="services.error">
        <h1>Error</h1>
      </ng-template>


    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
