<ion-content class="bicolor">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-menu-button slot="start"></ion-menu-button>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar color="secondary">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-fab>
            <ion-fab-button (click)="selectImage()">
              <ion-fab>
                <ion-icon name="camera-outline"></ion-icon>
              </ion-fab>
            </ion-fab-button>
          </ion-fab>
          <ion-avatar>
            <ion-img *ngIf="user.img_url" [src]="apiUrl + user.img_url"></ion-img>
            <ion-img *ngIf="!user.img_url" src="../../../assets/images/default_avatar.png"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
  </ion-toolbar>
  <form [formGroup]="userDataForm" (ngSubmit)="saveData()" ngNativeValidate>
    <ion-card class="ion-margin-horizontal ion-padding-horizontal">
      <ion-list lines="none">
        <ion-list-header class="ion-text-center ion-no-padding">
          <ion-title color="primary">Mis Datos</ion-title>
        </ion-list-header>
        <ion-item class="ion-margin-vertical">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label class="ion-text-wrap" position="fixed">Nombre</ion-label>
          <ion-input class="ion-text-right ion-text-wrap" formControlName="firstname" type="text" required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label class="ion-text-wrap" position="fixed">Apellido</ion-label>
          <ion-input class="ion-text-right ion-text-wrap" formControlName="lastname" type="text" required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-label>Género</ion-label>
          <ion-icon slot="start" *ngIf="user.gender == 'otro'" name="male-female-outline"></ion-icon>
          <ion-icon slot="start" *ngIf="user.gender == 'hombre'" name="male-outline"></ion-icon>
          <ion-icon slot="start" *ngIf="user.gender == 'mujer'" name="female-outline"></ion-icon>
          <ion-select formControlName="gender" placeholder="Seleccionar" class="ion-no-padding" cancelText="cancelar" okText="aceptar">
            <ion-select-option value="mujer">Mujer</ion-select-option>
            <ion-select-option value="hombre">Hombre</ion-select-option>
            <ion-select-option value="otro">Otro</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label class="ion-text-wrap" position="fixed">Teléfono</ion-label>
          <ion-input class="ion-text-right ion-text-wrap" formControlName="phone" type="tel" required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label class="ion-text-wrap" position="fixed">Fecha de Nacimiento</ion-label>
          <ion-input class="ion-text-right ion-text-wrap" formControlName="birthdate" type="text" required></ion-input>
        </ion-item>
      </ion-list>
      <ion-button type="submit" expand="block" color="primary" class="ion-margin-bottom">Actualizar Datos</ion-button>
    </ion-card>
  </form>
</ion-content>