ion-img {
  width: 70%;
  margin: 30px auto;
}

.bottom-btn {
  position: absolute;
  width: 96%;
  bottom: 0;
}

.bottom-btn-2 {
  position: absolute;
  width: 96%;
  bottom: 50px;
}

.pass-not-match {
  color: #eb445a;
}

form {
  height: 424px;
}