<ion-content class="ion-padding" color="secondary">
  <ion-grid>
    <form [formGroup]="loginForm" (ngSubmit)="login()" ngNativeValidate>
      <ion-row>
        <ion-col>
          <ion-img class="ion-padding-vertical ion-margin-vertical" src="../../../assets/Logotipo/logo-login.png"></ion-img>
          <ion-label class="ion-margin-vertical">Ingrese con su cuenta</ion-label>
          <br>
          <ion-item class="ion-margin-vertical">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email" required></ion-input>
          </ion-item>
          <ion-item class="ion-margin-vertical">
            <ion-icon slot="start" name="lock-open-outline"></ion-icon>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" required></ion-input>
          </ion-item>
          <ion-button type="submit" class="ion-no-margin ion-margin-vertical" expand="block">Ingresar</ion-button>
          <a class="ion-float-right" color="primary" routerLink="/create-account"><strong>Olvidé mi contraseña</strong></a>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

  <ion-grid class="ion-padding-vertical ion-margin-vertical">
    <ion-row class="ion-padding-vertical ion-margin-vertical">
      <ion-col class="ion-padding-vertical ion-margin-vertical ion-text-center">
        <ion-text>¿No tiene cuenta? </ion-text>
        <a color="primary" routerLink="/create-account"><strong>Cree una aquí</strong></a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>