ion-card-header ion-grid ion-row ion-col ion-label {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
}

ul {
  padding-left: 26px;
}

.col-padding{
  padding-left: 20px;
  padding-top: 8px;
}

.swiper-slide{
  text-align: left !important;
}

ion-slide > ion-grid{
  padding: 0;
}