<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-avatar slot="start">
        <ion-img [src]="message.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2 slot="start">{{ message.name }}</h2>
        <p slot="end">{{ message.service }}</p>
        <p>{{ message.lastMsg }}</p>
        <p class="timeago">{{ message.lastMsgAgo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
