.pass-not-match {
  color: #b71c1c;
}

ion-avatar {
  height: 120px;
  width: 120px;
  margin-top: -1.2vh;
  margin-left: auto;
  margin-right: auto;
}

ion-fab-button {
  margin-top: -50px;
  height: 50px;
  margin-left: 160px;
  width: 50px;
}

ion-fab-button ion-icon {
  font-size: 30px;
}

.white-text {
  color: white;
}