/* ion-content ion-item>ion-icon {
  position: absolute;
  right: 30px;
  top: 30px;
} */

ion-content ion-note {
  margin-top: 10px;
  font-size: 0.8rem;
}

ion-thumbnail {
  height: 21vh;
  width: 35%;
}

ion-badge {
  width: 110px;
}