ion-card-header ion-grid ion-row ion-col ion-label {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
}

.elder-data {
  margin-top: -145px;
}

.elder-data ion-avatar {
  margin: auto;
}

.elder-data ion-text {
  color: white;
  font-size: large;
}